<?php
$CONFIG = array (
  'updatechecker' => false,
  'instanceid' => 'ocg7xh3fd166',
  'passwordsalt' => 'BTNNtnR4HcjLY9b9OgZ706vbISPikA',
  'secret' => 'lNOpFNAGaXdZNYlz8MB+bvjGvIUFh65QAIFwbkfekdNhBLag',
  'trusted_domains' =>
  array (
    0 => '{{ owncloud_http_domain }}',
  ),
  'datadirectory' => '/var/www/owncloud/data',
  'overwrite.cli.url' => '{{ owncloud_http_domain }}',
  'dbtype' => 'mysql',
  'version' => '{{ owncloud_version }}',
  'dbname' => '{{ owncloud_database_db }}',
  'dbhost' => 'localhost',
  'dbtableprefix' => 'oc_',
  'dbuser' => '{{ owncloud_database_username}}',
  'dbpassword' => '{{ owncloud_database_password }}',
  'logtimezone' => 'UTC',
  'installed' => true,
);