<?php
$CONFIG = array (
  'instanceid' => 'oce41b2c1323',
  'passwordsalt' => '23307351a41a7af36a40064491fc66',
  'secret' => '2edf18e9dea480675c32dacd74e632c1f8434842f8fb339ef9e09eff6512c3ca01810460c88b134d738532adf39e4dca',
  'trusted_domains' =>
  array (
    0 => '{{ owncloud_http_domain }}',
  ),
  'datadirectory' => '/var/www/owncloud/data',
  'overwrite.cli.url' => '{{ owncloud_http_domain }}',
  'dbtype' => 'mysql',
  'dbname' => {{ owncloud_database_db }},
  'dbhost' => 'localhost',
  'dbtableprefix' => 'oc_',
  'dbuser' => {{ owncloud_database_username }},
  'dbpassword' => {{ owncloud_database_password }},
  'installed' => true,
  'theme' => '',
  'maintenance' => false,
  'mail_from_address' => 'paulboiseau',
  'mail_smtpmode' => 'php',
  'mail_domain' => 'gmail.com',
  'forcessl' => false,
  'forceSSLforSubdomains' => false,
  'loglevel' => 0,
);